HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.idea/
/server/tempo-data/blocks/single-tenant/784a94f5-84c9-469d-ac19-82d534d93cd7/bloom-0
/server/tempo-data/blocks/single-tenant/784a94f5-84c9-469d-ac19-82d534d93cd7/data.parquet
/server/tempo-data/blocks/single-tenant/index.json.gz
/server/tempo-data/blocks/single-tenant/784a94f5-84c9-469d-ac19-82d534d93cd7/meta.json
/server/tempo-data/blocks/tempo_cluster_seed.json
